<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>short-link-generator</title>
</head>
<body>
    <h2>Short-link-generator</h2>

    <form method="post" action="generate">

        <input id="shorten_url" taborder="1" name="longLink" type="text"
               class="shorten-input" placeholder="Paste a link to shorten it"
               value="" autocomplete="off" autocorrect="off" autocapitalize="off">

        <input id="shorten_btn" type="submit" class="button button-primary button-large shorten-button" value="Shorten">

        <p th:text="${shortLink}"></p>

    </form>
</body>
</html>